<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h4>Show</h4>
                <div>
                    <label>Name: </label>
                    {{ person.name }}
                </div>
                <div>
                    <label>Last name: </label>
                    {{ person.lastName }}
                </div>
                 <div>
                    <label>Age: </label>
                    {{ person.age }}
                </div>
                    <a class="btn btn-default" href="{{path('list_action')}}">Back to the list view</a>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>